{% load static %}

    <div class="container text-center">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for banner in banners %}
                <div class="swiper-slide">
                    <img src="{{ banner.image.url }}"  alt="{{ banner.description }}">
                    <div class="text_on_photo">
                        <h2>{{ banner.description }}</h2>
                        <button class="btn_counter btn-light">Explore More</button>
                        <p>
                            <span class="click-display" style="display: none;">Clicked 0 Times</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'logic.js' %}" ></script>