
    <div class="container text-center">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../src/img/banner-01.png" alt="Skin_care_banner">
                    <div class="text_on_photo">
                        <h2>Skin Care Products</h2>
                        <h3>You decide what we make! Swipe to vote & earn points for participation.</h3>
                        <button class="btn_counter btn-light">Explore More</button>
                        <p>
                            <span class="click-display" style="display: none;">Clicked 0 Times</span>
                        </p>
                    </div>
                </div>


                <div class="swiper-slide">
                    <img src="../src/img/banner-02.png" alt="Nail_New_Arrivals_banner">
                    <div class="text_on_photo">
                        <h2>Nail New Arrivals</h2>
                        <button class="btn_counter btn-light">Buy Now</button>
                        <p>
                            <span class="click-display" style="display: none;">Clicked 0 Times</span>
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="../src/img/banner-03.png" alt="Up_To_50%_off">
                    <div class="text_on_photo">
                        <h2>Up to 50% off</h2>
                        <button class="btn_counter btn-light">View Details</button>
                        <p>
                            <span class="click-display" style="display: none;">Clicked 0 Times</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../src/img/banner-04.png" alt="Must_have_makeup_items">
                    <div class="text_on_photo">
                        <h2>Must-have makeup items</h2>
                        <button class="btn_counter btn-light">View Details</button>
                        <p>
                            <span class="click-display" style="display: none;">Clicked 0 Times</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>