{% load static %}
<div class="text-center">
<h3 class="mt-5">خرید بر اساس دسته‌بندی</h3>
</div>
        <hr>
<div class="text-center">
        <button id="api-mount-button"></button>
        <label for="options-per-view-input">تعداد نمایش:</label>
        <input id="options-per-view-input" type="number" min="1" max="6" value="3"
            style="width: 60px; margin-bottom: 1rem;">
</div>
        <div class="glide" id="options-per-view" style="width: 100%; max-width: 800px; margin: auto;">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for category in categories %}
                <li class="glide__slide text-center">
                    <img src="{{ category.image.url }}" class="img-fluid" alt="{{ category.name }}">
                    <div><b>{{ category.name }}</b><br>10 products</div>
                </li>
                {% endfor %}
            </ul>
        </div>


            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>

            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
                <button class="glide__bullet" data-glide-dir="=5"></button>
            </div>
        </div>
    <script src="{% static 'logic.js' %}" ></script>