{% extends 'index.html' %}
{% load static %}
{% block content %}

{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'products_details.css' %}">
</head>
<body>
<div class="container product-container py-5">
    <div class="row align-items-center shadow rounded p-4" style="background: #fff;">
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-6">
            <div class="product-info">
                <h2 class="mb-3" style="color: mediumorchid;">{{ product.name }}</h2>
                <p><strong>دسته‌بندی:</strong> {{ product.category.name }}</p>
                <p class="text-muted">{{ product.description|linebreaks }}</p>
                <p class="price h4 mt-3 mb-4" style="color: #8B3FA7;">{{ product.price|floatformat:"0" }} تومان</p>
                <a href="{% url 'cart' %}" class="btn add-to-cart px-4 py-2">افزودن به سبد خرید</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}