{% load static  %}

    <h3>Skin Care</h3>
    <hr>
    <div class="row text-center">
        <div class="col-md-2 products">
            <div class="image-container" data-img-left="{% static 'products/skin-care-0102.png'%}"
                data-img-right="{% static 'products/skin-care-0103.png' %}" data-img-center ="{% static 'products/skin-care-0104.png'%}"
                data-img-default="{% static 'products/skin-care-01.png'%}">
                <img class="main-image img-fluid" src="{% static 'products/skin-care-01.png'%}" alt="Sample Product">
            </div>
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="btn_counter add_btn">add to cart</button>
                <p>
                    <span class="click-display" style="display: none;">Clicked 0 Times</span>
                </p>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <div class="image-container" data-img-left="{% static 'products/skin-care-0202.png'%}"
                data-img-right="{% static 'products/skin-care-0203.png'%}" data-img-center="{% static 'products/skin-care-0204.png'%}"
                data-img-default="{% static 'products/skin-care-02.png'%}">
                <img class="main-image img-fluid" src="{% static 'products/skin-care-02.png'%}" alt="Sample Product">
            </div>
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="btn_counter add_btn">add to cart</button>
                <p>
                    <span class="click-display" style="display: none;">Clicked 0 Times</span>
                </p>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <div class="image-container" data-img-left="{% static 'products/skin-care-0302.png'%}"
                data-img-right="{% static 'products/skin-care-0303.png'%}" data-img-center="{% static 'products/skin-care-0304.png'%}"
                data-img-default="{% static 'products/skin-care-03.png'%}">
                <img class="main-image img-fluid" src="{% static 'products/skin-care-03.png'%}" alt="Sample Product">
            </div>
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="btn_counter add_btn">add to cart</button>
                <p>
                    <span class="click-display" style="display: none;">Clicked 0 Times</span>
                </p>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <div class="image-container" data-img-left="{% static 'products/skin-care-0402.png'%}"
                data-img-right="{% static 'products/skin-care-0403.png'%}" data-img-center="{% static 'products/skin-care-0404.png'%}"
                data-img-default="{% static 'products/skin-care-04.png'%}">
                <img class="main-image img-fluid" src="{% static 'products/skin-care-04.png'%}" alt="Sample Product">
            </div>
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="btn_counter add_btn">add to cart</button>
                <p>
                    <span class="click-display" style="display: none;">Clicked 0 Times</span>
                </p>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <div class="image-container" data-img-left="{% static 'products/skin-care-0502.png'%}"
                data-img-right="{% static 'products/skin-care-0503.png'%}" data-img-center="{% static 'products/skin-care-0504.png'%}"
                data-img-default="{% static 'products/skin-care-05.png'%}">
                <img class="main-image img-fluid" src="{% static 'products/skin-care-05.png'%}" alt="Sample Product">
            </div>
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="btn_counter add_btn">add to cart</button>
                <p>
                    <span class="click-display" style="display: none;">Clicked 0 Times</span>
                </p>
                <h4 class="price">$10</h4>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Tools & Brushes</h3> <!-- mt5 for spacing-->
    <hr>
    <div class="row text-center">
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/tool-01.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/tool-02.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button id="btn" class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/tool-03.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/tool-04.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button  class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Category3</h3>
    <hr>
    <div class="row text-center">
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>
        <div class="col-md-2 products">
            <img class="img-fluid" src="{% static 'products/placeholder.png'%}" alt="Sample Product">
            <b>Sample Product</b>
            <h4>Category Name</h4>
            <div class="product_footer">
                <button class="add_btn">add to cart</button>
                <h4 class="price">$10</h4>
            </div>
        </div>

    </div>