.navbar-custom {
    background-color: mediumorchid;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .btn {
    color: white;
}
.navbar-custom .btn:hover {
    background-color: darkorchid;
    color: white;
}
.banner {
    position: relative;
    text-align: left;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner .text_on_photo {
    position:absolute;
    color: white;
    top: 20px;
    left: 20px;
}

.products {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiper {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.text_on_photo {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  text-align: left;
  z-index: 10;
}
.glide__arrow {
  background-color: white; 
  color: mediumorchid;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  user-select: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.glide__arrow:hover {
  background-color: darkorchid;
  color: white;                      
}

.glide__bullets {
  text-align: center;
  margin-top: 1rem;
}
.glide__bullet {
  background-color: mediumorchid;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}


.glide__bullet:hover,
.glide__bullet.glide__bullet--active {
  background-color: darkorchid;
}